.side-bar
  .bar-top
    .bar-top-box
      %p.bar-top-box__left織田
      
      %ul.bar-top-box__right
        %li.bar-top-box__right__new-group
          %a
            %i.fa.fa-edit
        %li.bar-top-box__right__edit
          %a
            %i.fa.fa-cog
            
  .bar-content
    %a
      .group
        %p.group__name techcamp
        %p.group__messageまだメッセージはありません。

