.main-chat {
  width: calc(100vw - 300px);
  float: left;

  .chat-top{
    height: 100px;
    border-bottom: solid 1px #eee;
    padding: 0px 40px;
    justify-content: space-between;
    overflow: scroll;
    display: flex;
    &__header-left{
      margin-top: 35px;
      &__group {
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
      }
      &__member__person{
        display: flex;
        font-size: 12px;
        color: #999;
       
      }
    }
      &__edit{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        .editbtn{
          color: #38aef0;
        }
      }
  }
  .chat-contents{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;
    .content{
      padding-bottom: 40px;
      .upper-content{
        display: flex;
        margin-bottom: 10px;
          &__talker{
           color:#434a54;
           font-size: 16px;
           font-weight: bold; 
          }
          &__date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
      }
      .lower-content{
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }      
    }
  }
  .form {
    height: 90px;
    background-color: #ddd;
    padding: 20px 40px;
    .new_message {
      display: flex;
      position: relative;
      .form__message {
        width: 100%;
      }
      .form__mask{
        position: absolute;
        top: 10px;
        right: 85px;
        height: 50px;
        color: #434a54;
        border-style: none;
        padding: 0 40px 0 10px;
        &__image {
          cursor: pointer;
          font-size: 1.3rem;
          .hidden {
            display: none;
          }
        } 
      }
      .form__submit{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}

a{
  text-decoration: none;
}